html.body {
    margin: 0;
    padding: 0;
}

.lesson_main {}

.main_title {
    color: #000;
    font-size: 30px;
    line-height: 80px;
    height: 80px;
    font-weight: normal;
    padding-left: 30px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.main_content {
    padding: 32px 40px 0 30px;
    overflow: hidden;
    background: #f9f6f3;
}

.lesson_intro {
    width: 39%;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 9px solid #f86a00;
    border-radius: 3px;
    padding: 32px 29px 0;
    position: relative;
    float: left;
    margin: 0 3%;
}

.lesson_intro_group {
    padding-bottom: 30px;
}

.lesson_intro h3 {
    font-weight: normal;
    color: #333;
    padding-bottom: 16px;
}

.lesson_intro p {
    color: #999;
    padding-left: 7px;
    text-align: justify;
}

.lesson_intro .edit {
    position: absolute;
    bottom: 30px;
    right: 29px;
    width: 34px;
    height: 34px;
    background: url("../images/lesson/icon_edit.png") no-repeat center;
    cursor: pointer;
}

.lesson_chapter {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 642px;
    background: #fff;
    /*margin-left: 14px;*/
    padding: 20px 18px;
    margin: 14px auto;
}

.lesson_chapter li .chapter_first {
    width: 607px;
    height: 48px;
    padding-left: 19px;
    background: #fff5e9;
    display: block;
    margin-bottom: 4px;
    border-radius: 3px;
}

.lesson_chapter li .current {
    background: #ffc499;
}

.lesson_chapter li i {
    float: left;
    width: 16px;
    height: 48px;
    margin-right: 27px;
    background: url("../images/lesson/icon_chapter_up.png") no-repeat center;
}

.lesson_chapter .icon_chapter_open {
    background-image: url("../images/lesson/icon_chapter_open.png");
}

.lesson_chapter li span {
    float: left;
}

.lesson_chapter .chapter_second {
    color: #999;
    width: 607px;
    padding-left: 62px;
    height: 48px;
    display: block;
    line-height: 48px;
}

.lesson_chapter .active {
    color: #f66a03;
}


/*课程内容*/

.lesson_step_tab .questions_count {
    background: #eb2f3b;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 40px;
    top: 10px;
    color: #fff;
    font-style: normal;
    display: none;
}

.lesson_step_list li {
    width: 100%;
    overflow: hidden;
    background: #f9f7f3;
    margin-top: 8px;
    padding: 10px 10px 30px 13px;
    border-top: 5px solid transparent;
}

.lesson_step_list .lesson_step_icon {
    float: left;
    width: 34px;
    height: 26px;
    background: url("../images/lesson/icon_book.png") no-repeat center;
}

.lesson_step_row {
    width: 100%;
    overflow: hidden;
    padding: 0 14px 9px 13px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 42px;
}

.lesson_step_list h4 {
    float: left;
}

.lesson_step_list h4 a {
    line-height: 26px;
    padding-left: 29px;
    color: #333;
}

.lesson_step_list .lesson_state {
    float: right;
    height: 20px;
    width: 54px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #eb2f3b;
    border-radius: 2px;
    color: #eb2f3b;
}

.lesson_step_list .del_icon {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -16px;
    width: 16px;
    height: 17px;
    background: url(../images/icon_delete.png) 0 50% no-repeat;
}

.lesson_step_list .underway {
    color: #27bfa9;
    border-color: #27cfa9;
}

.lesson_step_list .ended {
    color: #999;
    border-color: #999;
}

.lesson_start_time span,
.lesson_end_time span {
    color: #999;
    ;
}

.lesson_step_operate {
    padding-left: 26px;
    padding-right: 23px;
}

.lesson_start_time,
.lesson_end_time {
    float: left;
    color: #f86a00;
    white-space: nowrap;
}

.lesson_step_operate .divider {
    padding: 0 35px;
    color: #999;
    float: left;
}

.lesson_step_operate dl {
    overflow: hidden;
}

.lesson_step_operate dt {
    float: left;
    line-height: 24px;
}

.lesson_step_operate .lesson_step_operate_buttons {
    float: right;
    margin-top: 30px;
}

.lesson_step_operate .lesson_row {
    width: 100%;
    overflow: hidden;
}

.lesson_step_operate_buttons button {
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: #27bfa9;
    border: 0;
    cursor: pointer;
    float: left;
    margin: 10px;
}

.lesson_step_operate_buttons .lesson_step_operate_score {
    background: #f86a00;
    margin-right: 23px;
}

.lesson_step_operate_buttons .key i {
    width: 26px;
    height: 26px;
    border-radius: 26px;
    float: left;
    vertical-align: middle;
    margin-right: 6px;
    margin-top: 4px;
}

.lesson_step_operate_buttons .key {
    float: left;
    margin-right: 55px;
    line-height: 34px;
}

.lesson_step_operate_buttons .locked i {
    background: url("../images/lesson/lesson_locked.png") no-repeat center #eb2f3b;
}

.lesson_step_operate_buttons .unlocked i {
    background: url("../images/lesson/lesson_start.png") no-repeat center #27bfa9;
}


/*问题总结*/

.questions_wrap {
    padding-top: 40px;
}

.questions_wrap .question_tab span {
    width: 96px;
    text-align: center;
    display: inline-block;
}

.questions_wrap .question_tab {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 12px;
}

.questions_wrap .question_tab span.active {
    color: #f86a00;
}

.question_search_box {
    padding-top: 28px;
    overflow: hidden;
    margin-bottom: 56px;
}

.question_search_box .jselect {
   
    display: inline-block;
    margin-right: 21px;
}

.question_search_box button {
    background: #f86a00;
    border: 0;
    width: 134px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
   
    font-size: 18px;
}

.question_list {
    overflow: hidden;
}

.question_list li {
    padding: 16px 42px;
    background: #fafafa;
    border-radius: 3px;
    box-shadow: 0 0 5px #f9f7f3;
    margin-bottom: 10px;
}

.question_ask_con {
    background: #ffae6a;
    padding: 0 22px;
    line-height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin: 0 15px;
    max-width: 500px;
    width: 64%;
    position: relative;
}

.question_student_ask .question_ask_con .question_arr {
    width: 8px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 50%;
    margin-top: -7px;
    background: url("../images/lesson/icon_student_ask.png") no-repeat left center;
}

.question_ask_time {
    height: 40px;
    line-height: 40px;
    color: #999;
}

.question_student_ask {
    margin-bottom: 34px;
}

.question_teacher_answer {
    float: right;
    text-align: right;
}

.question_teacher_answer .question_ask_con {
    background: #eaeaea;
    position: relative;
}

.question_teacher_answer .question_ask_con .question_arr {
    left: auto;
    right: -8px;
    background: url("../images/lesson/icon_teacher_answer.png") no-repeat left center;
}

.question_answer_box {
    overflow: hidden;
}

.question_answer_box input,
.question_answer_box .question_answer_avatar,
.question_answer_box button {
    float: right;
}

.question_answer_box input {
    border: 1px solid #eaeaea;
    height: 40px;
    width: 50%;
    line-height: 38px;
    border-radius: 3px;
    padding-left: 24px;
}

.question_answer_box .question_answer_avatar {
    margin: 5px 10px 0;
}

.question_answer_box button {
    width: 78px;
    height: 36px;
    border: 1px solid #f86a00;
    color: #f86a00;
    text-align: center;
    line-height: 34px;
    border-radius: 2px;
    background: none;
    margin-top: 2px;
}

.talk_content {
    overflow: hidden;
}

.lesson_step_list {
    padding-bottom: 30px;
}

.statistic_main {
    padding: 20px;
    box-sizing: border-box;
}

.score_sort {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}

.score_sort_list {
    background: #fff;
    padding: 0 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.score_sort_list li {
    float: left;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px dashed #ccc;
}

.score_sort_list li i {
    font-style: normal;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 5px;
    color: #fff;
}

.first_color {
    background: #ef3d14;
}

.second_color {
    background: #ef8a14;
}

.third_color {
    background: #efcd14;
}

.search {
    background: #fff;
    margin: 0;
}

.exercises_info {
    overflow: hidden;
}

.exercises_info span {
    float: left;
    margin-right: 30px;
    line-height: 30px;
}

.student_info {
    padding-left: 30px;
    background: url("../images/lesson/icon_student_name.png") no-repeat 5px center;
}

.exercises_info span i {
    font-style: normal;
    color: #ef8a14;
}

.exercises_list {
    background: #fff;
    padding: 40px;
    padding-left: 0;
}

.exercises_list>li {
    padding-left: 40px;
    background: url("../images/lesson/icon_exercises_up.png") no-repeat left 5px;
    padding-bottom: 40px;
}
.exercises_list.litoicon li{
    /*padding-left: 0px;*/
    background: none;
    padding-bottom: 0px;
}
.exercises_list.litoicon li .toicon{
    padding-left: 40px;
    background: url("../images/lesson/icon_exercises_up.png") no-repeat left 5px;
    padding-bottom: 40px;
}


.exercises_title {
    margin-bottom: 10px;
    min-height: 30px;
}

.exercises_title h4 {
    float: left;
    line-height: 30px;
}

.exercises_title h4 .more {
    width: 16px;
    height: 16px;
    background: url("../images/lesson/icon_exercises_more.png") no-repeat center;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.exercises_title h4 .more_down {
    background-image: url('../images/lesson/icon_exercise_more_down.png');
    ;
}

.exercises_title button {
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #ef3d14;
    border: 0;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
}

.highlight_color {
    color: #ef3d14;
    font-style: normal;
}

.result {
    border-top: 1px solid #ccc;
    line-height: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

.exercises_type_wrap {
    background: #f9f6f3;
    padding: 15px;
    overflow: hidden;
}

.exercises_type {
    padding: 5px;
    border: 1px solid #ef3d14;
    border-radius: 3px;
    margin-right: 30px;
}

.icon_star {
    width: 60px;
    height: 14px;
    background: url("../images/lesson/icon_star_n.png") repeat-x left center;
    display: inline-block;
    vertical-align: middle;
}

.result_right {
    float: right;
    max-width: 40%;
}

.exercises_subject {
    margin-bottom: 20px;
}

.exercises_subject p {
    line-height: 20px;
    padding: 20px 0 30px;
}

.exercises_subject ul {
    overflow: hidden;
}

.exercises_subject .exercises_list {
    overflow: visible;
}

.exercises_subject ul li {
    margin-right: 60px;
}

.exercises_subject form ul li {
    /*display: inline-block;*/
}

.union_min_quetion ul li {
    float: none;
}


/*消息中心*/

.info_list {
    background: #fff;
    padding: 15px;
    line-height: 26px;
}

.info_list li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #c2c8c2;
}

.info_list li p {
    color: #ef3d14;
}

.info_list li dl {
    overflow: hidden;
}

.info_list li dt {
    float: left;
}

.info_list li dd {
    float: right;
}

.info_list li p {
    cursor: pointer;
}

.modal-header {
    background: #f66a03;
    color: #fff;
    font-size: 18px;
    border-radius: 4px 4px 0 0;
}

.modal-body {
    background: #f9f6f3;
}


/*learning_situation*/

.learning_situation_title {
    font-size: 22px;
    font-weight: normal;
    padding-bottom: 23px;
    padding-top: 20px;
}

.my_table {
    width: 100%;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 27px;
}

.my_thead {
    overflow: hidden;
}

.my_tr {
    overflow: hidden;
}

.my_th,
.my_td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    text-align: center;
}

.width_50 {
    width: 50%;
}

.width_17 {
    width: 17%;
}

.width_16 {
    width: 16%;
}

.width_15 {
    width: 15%;
}

.width_30 {
    width: 30%;
}

.width_40px {
    width: 40px;
}

.my_th {
    background: #f9f2f4;
    height: 56px;
    line-height: 56px;
}

.my_td {
    height: 50px;
    line-height: 50px;
}

.my_section {
    margin-bottom: 29px;
    overflow: hidden;
}

.my_ccol {
    float: left;
    line-height: 34px;
    padding-right: 10px;
}

.my_crow {
    overflow: hidden;
    margin-bottom: 15px;
}

.my_crow .my_select {
    margin-right: 1%;
}

.my_section .jselect {
    width: 90%;
}

.learning_situation_list .lesson_row {
    float: right;
}

.learning_situation_list .lesson_start_time,
.learning_situation_list .lesson_end_time {
    color: #999;
}

.learning_situation_list li {
    padding: 20px;
}

.learning_situation_list .lesson_step_row {
    padding: 0;
    margin-bottom: 0;
    border: 0;
}

.icon_rank_up,
.icon_rank_down {
    width: 12px;
    height: 17px;
    background: url("../images/icon_rank_up.png") no-repeat center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

.icon_rank_down {
    background: url("../images/icon_rank_down.png") no-repeat center;
}

.icon_rank_balance {
    width: 17px;
    height: 12px;
    background: url("../images/icon_rank_balance.png") no-repeat center;
    display: inline-block;
    vertical-align: middle;
}

.releaseexambtn {
    display: inline-block;
    background: #fff;
    border: 1px solid #f66a03;
    color: #f66a03;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit_exam_block {
    padding: 10px;
    text-align: center;
}

.stduent_ans_w {
    width: 100px;
    height: 100px;
}


@media (max-width: 767px) {
    .lesson_step_operate .divider{
        display: none;
    }
}

.part{
    background: #fff;
    
    margin: 10px auto;
    border: 1px solid #f0ebe6;
    padding: 10px;
}



