html,
body {
    scrollbar-face-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    padding: 0;
    height: 100%;
     background: #f9f7f3;
    font-family: "微软雅黑";
    font-size: 14px;
}
*{
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a:link,a:visited{
    text-decoration: none;
    color: #333;
}

* {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: auto;
}

h1 {
    font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    outline: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

body,
label,
input,
button,
select,
textarea,
.uneditable-input,
.navbar-search .search-query {
    font-family: Microsoft YaHei, Georgia, Arial, sans-serif, 宋体;
    font-size: 13px;
    _font-size: 12px;
    outline: none;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
    vertical-align: middle;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin: -2px 3px;
    *margin-top: 1px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: auto;
    background-color: #f3f3f3;
}

.input-prepend input,
.input-append input,
.input-prepend select,
.input-append select,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
    position: static;
}

legend {
    margin: 10px 0;
    *left: -7px;
    *position: relative;
    color: #0088CC;
    *width: 99.5%
}

.accordion-heading,
.table th {
    white-space: nowrap;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAF9), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
}

.accordion-heading {
    filter: progid: dximagetransform.microsoft.gradient(startColorstr='#fefefe', endColorstr='#f5f5f5', GradientType=0);
    float: inherit;
    width: 100%;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.accordion-heading a:hover,
.dropdown a:hover {
    text-decoration: none;
    background: none;
}

.accordion-heading .accordion-toggle {
    font-family: 黑体;
    font-size: 14px;
    _padding-top: 10px;
    _padding-bottom: 8px;
}

.accordion-heading .accordion-toggle i {
    _margin-top: -1px;
}

.accordion-inner {
    padding: 3px 8px 3px 8px;
}

.accordion-inner .nav-list {
    margin-bottom: 4px;
}

.accordion-inner .nav-list li a {
    padding: 3px 0px 3px 8px;
}

#left,
#right,
#openClose {
    float: left;
}

#openClose {
    width: 6px;
    margin: 0 1px;
    cursor: pointer;
}

#openClose,
#openClose.close {
    background: #efefef url("../images/openclose.png") no-repeat -29px center;
}

#openClose.close {
    background-position: 1px center;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

#main {
    padding: 0;
    margin: 0;
}

#main .container-fluid {
    padding: 0 4px 0 6px;
}

#header {
    margin: 0 0 8px;
    position: static;
}

#header li {
    font-size: 14px;
    _font-size: 12px;
}

#header .brand {
    font-family: Helvetica, Georgia, Arial, sans-serif, 黑体;
    font-size: 26px;
    padding-left: 33px;
}

#footer {
    margin: 8px 0 0 0;
    padding: 3px 0 0 0;
    font-size: 11px;
    text-align: center;
    border-top: 2px solid #0663A2;
}

#footer,
#footer a {
    color: #999;
}

#left {
    overflow-x: hidden;
    overflow-y: auto;
}

#left .collapse {
    position: static;
}

#userControl>li>a {
    /*color:#fff;*/
    text-shadow: none;
}

#userControl>li>a:hover,
#user #userControl>li.open>a {
    background: transparent;
}

.screen_bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.screen_bg img {
    width: 100%;
    height: 100%;
}

.block_login {
    margin: 0px auto;
    width: 804px;
}

.block_login .title {
    font-size: 24px;
    margin: 38px 0;
    padding-left: 90px;
}

.block_login .content {
    position: relative;
    overflow: hidden;
    background: url(../images/block_content.png) repeat-y;
    width: 804px;
    padding-bottom: 40px;
}

.block_login .content .book {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background: url(../images/book.png) 0 0 no-repeat;
    width: 122px;
    height: 72px;
}

.block_login .top {
    background: url(../images/block_top.png) no-repeat;
    width: 804px;
    height: 17px;
}

.block_login .bottom {
    background: url(../images/block_bottom.png) no-repeat;
    width: 804px;
    height: 20px;
}

.form_row {
    display: table;
    width: 100%;
    margin: 24px 0px;
}

.form_row .flabel {
    display: table-cell;
    width: 20%;
    text-align: right;
    font-size: 18px;
    vertical-align: middle;
}

.form_row .ftext {
    position: relative;
    display: table-cell;
    width: 60%;
}

.form_row .ftext input {
    width: 380px;
    border-top: 1px solid #ede7e4;
    border-bottom: 1px solid #ede7e4;
    border-right: 1px solid #ede7e4;
    border-left: 4px solid #ff8b0c;
    border-radius: 4px;
    height: 50px;
    padding-left: 18px;
    margin-left: 25px;
    font-size: 18px;
}

.form_row .ftext input.min {
    width: 214px;
    border-top: 1px solid #ede7e4;
    border-bottom: 1px solid #ede7e4;
    border-right: 1px solid #ede7e4;
    border-left: 4px solid #ff8b0c;
    border-radius: 4px;
    height: 50px;
    padding-left: 18px;
    margin-left: 25px;
    font-size: 18px;
}

.form_row .ftext .fradio {
    margin-left: 25px;
}

.form_row .ftext .fradio li {
    float: left;
    list-style: none;
    background: url(../images/radio_0.png) 0% 50% no-repeat;
    padding-left: 20px;
    font-size: 18px;
    margin: 0 38px;
}

.form_row .ftext .fradio li.checked {
    background: url(../images/radio_1.png) 0% 50% no-repeat;
}

.form_row .ftext .protocol {
    margin-left: 25px;
    background: url(../images/check_0.png) 0 50% no-repeat;
    padding-left: 20px;
    font-size: 16px;
}

.form_row .ftext .protocol.checked {
    background: url(../images/check_1.png) 0 50% no-repeat;
}

.form_row .ftext .protocol a {
    color: #ff8b0c;
}

.form_row .ftext .yzm {
    position: absolute;
    left: 208px;
    top: 0px;
    width: 200px;
}

.form_row .ftext .yzm img {
    width: 100%;
}

.form_row .ftext .yzm .refresh {
    position: absolute;
    bottom: -24px;
    right: 2px;
    color: #159fff;
}

.form_row .link {
    margin-right: 46px;
    color: #fd6d0d;
    text-decoration: none;
}

.aligin_right {
    text-align: right;
}

.btn {
    width: 156px;
    height: 52px;
    text-align: center;
    background: #ff8b0c;
    color: #fff;
    display: inline-block;
    line-height: 52px;
    font-size: 18px;
    border-radius: 4px;
    margin: 0px 4px;
}

.reg_btn {
    width: 380px;
    height: 52px;
    text-align: center;
    background: #ff8b0c;
    color: #000;
    display: inline-block;
    line-height: 52px;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 25px;
    font-size: 20px;
    text-decoration: none;
}

.logo {
    overflow: hidden;
}

.logo img {
    display: block;
    margin: 20px auto;
}

.my-placeholder {
    color: #A9A9A9;
}


/**
  主页布局
**/

.header {
    height: 84px;
}

.header:after,
.header .r_menu:after {
    content: "";
    clear: both;
}

.header .l_logo {
    float: left;
    width: 222px;
    background: #f9f6f3;
    height: 100%;
    text-align: center;
}

.header .l_logo img {
    margin: 22px auto;
}

.header .r_menu {
    float: right;
    height: 100%;
}

.header .r_menu .username {
    height: 60px;
    line-height: 60px;
    border-right: 1px solid #e6dfd8;
    margin: 12px auto;
    padding: 0px 36px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
    float: left;
}

.header .r_menu .username span {
    background: url(../images/icon_username.png) 0 50% no-repeat;
    height: 20px;
    padding-left: 24px;
    font-size: 16px;
}

.header .r_menu .exit {
    height: 60px;
    line-height: 60px;
    padding: 0px 36px;
    float: left;
    margin: 12px auto;
}

.header .r_menu .exit span {
    background: url(../images/icon_exit.png) 0 50% no-repeat;
    height: 20px;
    padding-left: 24px;
    font-size: 16px;
    color: #faa668;
}

.content {
    position: relative;
}

.left {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 222px;
    background: #f66a03;
}

.right {
    background: #f9f6f3;
    position: absolute;
    left: 222px;
    top: 0px;
    bottom: 0px;
}

.title {
    font-size: 30px;
    height: 110px;
    border-top: 1px solid #e6dfd8;
    border-bottom: 1px solid #e6dfd8;
    text-align: left;
    padding-left: 30px;
    line-height: 110px;
}

.rigth .iframec {
    background: #fff;
}

.iframec iframe {
    width: 100%;
    background: #fff;
}

.menu {}

.menu.active {
    background: #e86200;
}

.menu .menu_t {
    position: relative;
    margin: 0px 12px;
    border-bottom: 1px solid #e86200;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}

.menu_t .arrow {
    position: absolute;
    right: 0px;
    top: 50%;
    background: url(../images/arr_down.png) 0 50% no-repeat;
    width: 18px;
    height: 8px;
    margin-top: -4px;
}

.menu.unfold .menu_t .arrow {
    background: url(../images/arr_up.png) 0 50% no-repeat;
}

.icon_account {
    background: url(../images/icon_user.png) 0 50% no-repeat;
    padding-left: 26px;
}

.icon_home {
    background: url(../images/icon_home.png) 0 50% no-repeat;
    padding-left: 26px;
}

.icon_role {
    background: url(../images/icon_role.png) 0 50% no-repeat;
    padding-left: 26px;
}
.menu ul{
    display: none;
}
.menu.unfold ul{
    display: block;
}

.menu ul li a {
    font-size: 14px;
    padding: 12px 12px 12px 38px;
    color: #fff;
    display: block;
    text-decoration: none;
}
.menu ul li.current a {
    background: #fff;
    color: #f66a03;
    border-left: 6px solid #a8cf0c;
}

.lesson_step{
    
    background-color: #fff;
    padding: 16px 18px 0;
}
.lesson_step_tab{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}
.lesson_step_tab li{
    height: 62px;
    line-height: 62px;
    width: 25%;
    text-align: center;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f7f3;
}
.lesson_step_tab li.active{
    background: #fff;
    border-bottom:0;
    border-top: 5px solid #f86a00;
    background: url("../images/lesson/icon_tab_active.png") no-repeat center top;
}
.lesson_step_tab li:last-child{
    border-right: 0;
}
